body{
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

#content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container{
    border: 5px solid black;
    display: flex;
    width: 704px;
    height: 704px;
}

.col{
    display: flex;
    flex: 1;
    flex-flow: column wrap;
}


.boxes{
    flex: 1;
    background-color: black;
}

.settings{
    padding: 20px;
    border-radius: 40px;
}

input[type=color]{
    align-self: center;
	width: 50px;
	height: 50px;
	border: none;
	border-radius: 40px;
	background: none;
}

input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}

input[type="color"]::-webkit-color-swatch {
	border: solid 1px #000; 
	border-radius: 40px;
}

#buttons{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-right: 100px;
}
